
html,
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: teal;
    font-family: roboto, arial, sans-serif;
}

header {
    grid-area: header;
    height: 15%;
    width: 100%;
    background-color: darkslategray;
}


.headerContent {
    display: grid;
    grid-template-areas:    "left middle right";
    width: 100%;
    height: 100%;
}

.headline {
    color: white;
    font-size: 32px;
}

main {
    grid-area: main;
    height: 75%;
    width: 100%;
    overflow-y: auto;
}

.main_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 230px));
    grid-template-rows: repeat(auto-fit, minmax(100px, 200px));
    gap: 64px;
    margin: 64px;
    justify-content: center;
    align-items: center;
}


.main_content_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


footer {
    height: 10%;
    width: 100%;
    background-color: darkslategray;
    
}

.footerContent {
    display: grid;
    grid-template-areas:    "left right";
    width: 100%;
    height: 100%;
    color: white;
    font-size: 16px;
}

.flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.left {    
    grid-area: left;
}

.middle {
    grid-area: middle;
}


.right {
    grid-area: right;
}


.pokeball_img {
    width: 32px;
    height: auto;
}


.mg_right_8px {
    margin-right: 8px;
}

.card {
    margin: 16px;
    height: 230px;
    width: 200px;
    background-color: darkslategray;
    color: white;
}

.detailed-card {
    height: 400px;
    width: 300px;
}

.detailed_card {
    display: none;
}


.card-img-top {
    height: 80px;
}


.card-footer {
    display: flex;
}


.card-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}


.underline-grid {
    border-bottom: 3px solid rgba(234, 38, 38, 0.8);
}

.border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.border-left {
    border-left: 1px solid rgba(0, 0, 0, 0.25);

}


.card-description-body {
    display: grid;
    grid-template-columns: 1fr 16px 1fr
}


.card_evo_chain {
    display: grid;
    grid-template-columns: 1fr 32px 1fr 32px 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}


.pokemon_evo_chain_img {
    height: 64px;
    width: auto;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.progressbar-bg {
    background-color: rgba(234, 38, 38, 0.8);
}


.clickable {
    cursor: pointer;
}

.closeButton {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 16px;
}

.userinfo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px 1fr;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 700px;
    height: 700px;
    border-radius: 8px;
    overflow-y: auto;
}


.imprint img {
    height: 24px;
    padding-right: 8px;
    padding-left: 8px;
}


.imprintcontainer {
    margin: 0px 32px 0 32px;
    height: 600px;
    overflow: auto;
}


.imprint:hover {
    cursor: pointer;
}


.dataprotectioncontainer {
    margin: 0px 32px 0 32px;
    height: 600px;
    overflow: auto;
}


.dataprotection img {
    height: 24px;
    padding-right: 8px;
    padding-left: 8px;
}

.dataprotection:hover {
    cursor: pointer;
}




.contactInput {
    width: 300px;
}


textarea {
    display: block;
    resize: none;
    height: 150px;
    width: 302px;
    max-height: 150px;
}


@font-face {
    font-family: roboto;
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}



/* icons */

h1 {
    text-align: center;
    margin: 2em;
    color: #333;
}

.wrapper {
    width: 800px;
    margin: auto auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
    align-items: center;
}

.icon {
    border-radius: 100%;
    height: 32px;
    width: 32px;
    margin:auto;
    transition: 200ms all;
}

.icon:hover{
    filter: saturate(200%);
    transform: scale(1.1);
    cursor: pointer;
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.plant {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}





